.body {
    width: 800px;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Ubuntu', Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.wrap {
    border-left: 2px solid rgb(147 215 223);
    border-right: 2px solid rgb(147 215 223);
    padding: 0 30px;
}

.title {
    text-align: center;
}

.answer {
    font-size: 14px;
}